/* font style */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Poppins"; 
}
.banner-section-container{
  max-width: 1920px;
  height: 800px;
  /* border: 2px solid red; */
  background-color: #FCEEF1;
  
}
.banner-content{
  display: flex;
  /* border: 2px solid rebeccapurple; */
  width: 90%;
  margin: 0 auto;
}
.banner-text-container{
  width: 50%;
  height: 800px;
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.banner-text-container h2{
  font-size: 60px;
  
  
}
.banner-text-container p{
  font-size: 22px;
  
}
.banner-text-container button{
  width: 155px;
  height: 54px;
  padding: 20 43 20 43;
  border-radius: 8px;
  background-color: #E55473;
  color: white;
  text-align: center;
  font-size: 16px;
  border: none;
  
}
.banner-image-container{
  width: 50%;
  height: 800px;
  /* border: 2px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image-container img{
  width: 635px;
  height: 800px;
}
.featured-image-container{
  /* border: 2px solid rebeccapurple; */
  width: 90%;
  height: 800px;
  margin: 0 auto;
  margin-top: 140px;
}
.featured-title-container{
  width: 590px;
  height: 150px;
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;

  
}
.featured-title-container h1{
  font-size: 40px;
  color: #272727;
  text-align: center;
}
.featured-title-container p{
  font-size: 18px;
  color: #27272799;
  text-align: center
}
.featured-images{
  display: flex;
  gap: 20px;
  /* border: 2px solid violet; */
  margin-top: 80px;
 }
.first-image{
  height: 470px;
  width: 32%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color:rgba(167, 33, 98, 0.15);
  border-radius: 50% 50% 0% 0%; 
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.second-image{
  height: 470px;
  width: 32%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(218, 240, 241);
  border-radius: 50% 50% 0% 0%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.third-image{
  height: 470px;
  width: 32%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(228, 236, 220);
  border-radius: 50% 50% 0% 0%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.caption{
  display: flex;

}
.name-one{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: rgba(239, 87, 119,1.0);
}
.name-two{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: rgba(239, 87, 119,1.0);
}
.name-three{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  color: rgba(239, 87, 119,1.0);
}
.info{
 /* border: 2px solid rebeccapurple; */
 border-radius: 10px;
 width: 90%;
 height: 320px;
 margin: 0 auto;
 margin-top: 80px;
 /* margin-top: 20px; */
 background-color: rgb(244, 244, 244); 
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}
.delivery, .quality{
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: -80px;
  font-size: 15px;
  text-align: center;
  color: rgba(239, 87, 119,1.0);
}
.service{
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: -20px;
  font-size: 15px;
  text-align: center;
  color: rgba(239, 87, 119,1.0);
}

.hot-deal{
  height: 620px;
  max-width: 1920px;
  /* border: 2px solid palegreen; */
  background-color: rgb(254, 246, 248);
  margin-top: 80px;
}
.hot-deal-flower{
  display: flex;
  /* border: 2px solid rebeccapurple; */
  width: 70%;
  height: 620px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.sale{
width: 50%;
height: 228px;
border-radius: 8px;
/* border: 2px solid teal; */
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
}
.sale h3{
  font-size: 30px;
}
.sale p{
  font-size: 18px;
  color: #817D7E;
  text-align: center;
  margin-bottom: 10px;
}
.sale button{
  width: 150px;
  height: 60px;
  background-color:#E55473;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  text-align: center;
  margin-top: 10px;
  /* margin-right: 100px; */
  /* margin-left: auto; */

}
.sale h3 span{
  color: #E55473;
}
.flower-vase{
  height: 420px;
  width: 50%
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-frame{
  height: 620px;
  max-width: 1920px;
  /* border: 2px solid palegreen; */
  /* background-color: rgb(254, 246, 248); */
  margin-top: 80px;
}
.flower-photo{
  width: 590px;
  height: 130px;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin: 0 auto;
  /* border: 2px solid aqua; */
}
.flower-photo h2{
  text-align: center;
  font-size: 30px;
  color: #272727;
}
.flower-photo h2 span{
  color:rgba(255, 56, 56,1.0);
}
.flower-photo p{
  text-align: center;
  font-size: 15px;
  color: #7D7D7D;
}
.multi-flowers{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  margin: 0 auto;
}
.multi-flowers div img{
  width: 340px;
  height: 395px;
  box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.15);
 
}
.latest-deal{
  height: 449px;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  background-image: url('./assets/images/latest-deals-bg.png');
  background-repeat: no-repeat;
  box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
  
}
.mail{
  width: 380px;
  height: 110px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;

}
.mail-subscribe{
  /* margin-bottom: 100px; */
}
.mail h2{
  font-size: 30px;
  color: rgba(30, 39, 46,1.0);
  text-align: center;
 
}
.mail p{
  font-size: 18px;
  text-align: center;
  color: #808282;
  margin-bottom: 100px;
}
.subscribe{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
 flex-direction: row;
}
.subscribe input{
height: 64px;
width: 700px;
background-color: white;
border-radius: 8px;
font-size: 15px;
margin-right: 20px;
}
.subscribe button{
  height: 70px;
  width: 150px;
  border-radius: 8px;
  background-color: #E55473;
  font-size: 15px;
  color: white;
}
.end{
  max-width: 1920px;
  height: 449px;
  background-color: #111010;
  margin-top:
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset, 0 -20px 10px -20px rgba(0,0,0,0.45) inset, 20px 0 10px -20px rgba(0,0,0,0.45) inset;
}
.end h2{
  font-size: 50px;
  color: white;
  text-align: center;
}
.end h2 span{
  color: #E55473;
}
.conclution{
  font-size: 20px;
  color: #818181;
  text-align: center;
}
.end p{
  font-size: 10px;
  color: rgba(210, 218, 226,1.0);
  text-align: center;
}